@keyframes dropdown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes modal {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-dropdown {
  animation: dropdown 0.2s ease-in-out forwards;
}
.animate-modal {
  animation: modal 0.3s ease-out forwards;
}
