// Layout.scss
.layout {
  transition: margin-right 0.3s ease;

  &.sidebar-open {
    margin-right: 250px; // Adjust based on your sidebar width
  }
}

.content {
  flex-grow: 1;
  transition: margin-right 0.3s ease;
}

.topbar--hidden {
  transform: translateY(110%);
}
